# Compiled object files
build/
*.o
*.a
*.so

# Binary files
bin/
*.exe
*.out

# Debug files and core dumps
*.dump
core
*.core

# Editor/IDE specific files
.vscode/

# Temporary files
output/
*.tmp
*.log
*.swo
*.swp
*.sh

# Doxyfile for now ig
Doxyfile